<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<!-- <li><a href="/blog">Blog</a></li> -->
<li><a href="/deadlines">Deadlines</a></li>
<li><a href="/organisation">Organisation</a></li>
<li><a href="/programme">Programme</a></li>
<li><a href="/submission">Submission</a></li>
<li><a href="/award">Award</a></li>
<li><a href="/past">Past</a></li>
<li><a href="/accommodation">Accommodation</a></li>
<li><a href="/travel">Travel</a></li>
<li><a href="/registration">Registration</a></li>
</ul>
    </nav>
    
<font size=4, font face=Helvetica>
Max Ent - 01-06 July, 2018 – Alan Turing Institute, British Library, London, UK     
</font>
  
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:TO@APPEAR.com">email</a></li>
   </ul>
  </footer>
  </body>

</html>
