<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/programme">Programme</a></li>
<li><a href="/accommodation">Accommodation</a></li>
<li><a href="/travel">Travel</a></li>
<li><a href="/registration">Registration</a></li>
</ul>
    </nav>
    
<font size=4, font face=Helvetica>
Prob Num - 11-13 April, 2018 – The Alan Turing Institute, British Library, London, UK     
</font>

<div align="right">
<a href="mailto:coates@turing.ac.uk">email</a>
</div>
  
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <img src="https://prob-num.github.io/ati.jpg" alt="Ati Logo", width="255", height="115", align="center", style="padding:10px;">
   <img src="https://prob-num.github.io/samsi.jpg" alt="SAMSI Logo", width="260", height="115", align="center", style="padding:10px;">
   <img src="https://prob-num.github.io/lrf.png" alt="Lrf Logo", width="260", height="115", align="center", style="padding:10px;">
  </footer>
  </body>
</html>
