<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
    
<!-- <font size=6>  -->
<nav>    
July, 01-06, 2018 – Alan Turing Institute, British Library, London, UK     
</nav>  
<!-- </font>    -->
  
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:TO@APPEAR.com">email</a></li>
   </ul>
  </footer>
  </body>

</html>
